In [2]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [8]:
username = 'root'
password = quote_plus('Pavan@123')
host = 'localhost'
port = '3306'
database = 'job_market'

#Create SQL alchemy engine.
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")


#Load CSV files.
job_postings = pd.read_csv(r"C:\Users\anipi\Downloads\job_postings_fact.csv")
skills_dim = pd.read_csv(r"C:\Users\anipi\Downloads\skills_dim.csv")
skills_job = pd.read_csv(r"C:\Users\anipi\Downloads\skills_job_dim.csv")


#Insert data into Mysql.
job_postings.to_sql("job_postings_fact",engine, if_exists = 'append', index = False)
skills_dim.to_sql("skills_dim", engine, if_exists = 'append', index = False)
skills_job.to_sql("skills_job_dim", engine, if_exists = 'append', index = False)

print("All databases successfully loaded into sql")

All databases successfully loaded into sql

In [11]:
print(orders)

[{'order_id': 1, 'customer_id': 101, 'order_date': '2024-01-01', 'amount': 2500, 'status': 'Delivered'}, {'order_id': 2, 'customer_id': 102, 'order_date': '2024-01-01', 'amount': 1800, 'status': 'Cancelled'}, {'order_id': 3, 'customer_id': 101, 'order_date': '2024-01-02', 'amount': 3200, 'status': 'Delivered'}, {'order_id': 4, 'customer_id': 103, 'order_date': '2024-01-02', 'amount': 4000, 'status': 'Delivered'}, {'order_id': 5, 'customer_id': 104, 'order_date': '2024-01-03', 'amount': 1500, 'status': 'Returned'}, {'order_id': 6, 'customer_id': 102, 'order_date': '2024-01-03', 'amount': 2800, 'status': 'Delivered'}]

In [34]:
#Python.
orders = [
    {"order_id": 1, "customer_id": 101, "order_date": "2024-01-01", "amount": 2500, "status": "Delivered"},
    {"order_id": 2, "customer_id": 102, "order_date": "2024-01-01", "amount": 1800, "status": "Cancelled"},
    {"order_id": 3, "customer_id": 101, "order_date": "2024-01-02", "amount": 3200, "status": "Delivered"},
    {"order_id": 4, "customer_id": 103, "order_date": "2024-01-02", "amount": 4000, "status": "Delivered"},
    {"order_id": 5, "customer_id": 104, "order_date": "2024-01-03", "amount": 1500, "status": "Returned"},
    {"order_id": 6, "customer_id": 102, "order_date": "2024-01-03", "amount": 2800, "status": "Delivered"}
]

In [33]:
#Problem - 1 
#Total & Average revenue.
total_revenue = 0
delivered_orders = 0

for order in orders :
    if order['status'] == 'Delivered':
        total_revenue += order['amount']
        delivered_orders += 1

average_order_value = total_revenue / delivered_orders

print("Total Revenue:", total_revenue)
print("Average Order Value:", average_order_value)
print("Total Orders:", len(orders))

Total Revenue: 12500
Average Order Value: 3125.0
Total Orders: 6

In [36]:
df = pd.DataFrame(orders)

In [37]:
print(df.head())
print(df.info())

   order_id  customer_id  order_date  amount     status
0         1          101  2024-01-01    2500  Delivered
1         2          102  2024-01-01    1800  Cancelled
2         3          101  2024-01-02    3200  Delivered
3         4          103  2024-01-02    4000  Delivered
4         5          104  2024-01-03    1500   Returned
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     6 non-null      int64
 1   customer_id  6 non-null      int64
 2   order_date   6 non-null      object
 3   amount       6 non-null      int64
 4   status       6 non-null      object
dtypes: int64(3), object(2)
memory usage: 372.0+ bytes
None

In [39]:
df.dtypes

order_id                int64
customer_id             int64
order_date     datetime64[ns]
amount                  int64
status                 object
dtype: object

In [38]:
df['order_date'] = pd.to_datetime(df['order_date'])

In [40]:
df[df['status'] == 'Delivered']['amount'].sum()

12500

In [41]:
df.groupby('customer_id')["amount"].sum()

customer_id
101    5700
102    4600
103    4000
104    1500
Name: amount, dtype: int64

In [14]:
status_count = {}

for order in orders:
    status = order['status']
    status_count[status] = status_count.get(status, 0) + 1


for k, v in status_count.items():
    print(k, ":", v)

Delivered : 4
Cancelled : 1
Returned : 1

In [43]:
delivered_df = df[df['status'] == 'Delivered']

total_revenue = delivered_df['amount'].sum()
average_order_value = delivered_df['amount'].mean()
total_orders = len(df)


print(total_revenue, average_order_value, total_orders)

12500 3125.0 6

In [19]:
daily_revenue = {}

for order in orders:
    if order['status'] == 'Delivered':
        date = order['order_date']
        daily_revenue[date] = daily_revenue.get(date, 0) + order['amount']

for date, revenue in daily_revenue.items():
    print(date, " ", revenue)

2024-01-01   2500
2024-01-02   7200
2024-01-03   2800

In [25]:
customers_orders = {}

for order in orders:
    if order['status'] == 'Delivered':
        cid = order['customer_id']
        customers_orders[cid] = customers_orders.get(cid, 0) + 1

repeat_customers = [cid for cid, count in customers_orders.items() if count > 1]

print("Repeat customer", repeat_customers)

Repeat customer [101]

In [44]:
status_breakdown = df['status'].value_counts()
print(status_breakdown)

status
Delivered    4
Cancelled    1
Returned     1
Name: count, dtype: int64

In [26]:
lost_revenue = 0
delivered_revenue = 0

for order in orders:
    if order['status'] in ['Cancelled', 'Returned']:
        lost_revenue += order['amount']
    elif order['status'] == 'Delivered':
        delivered_revenue += order['amount']

loss_percentage = (lost_revenue / delivered_revenue) * 100

print("Lost Revenue:", lost_revenue)
print("Loss Percentage:", round(loss_percentage, 2), "%")

Lost Revenue: 3300
Loss Percentage: 26.4 %

In [47]:
daily_revenue = (
    df[df['status'] == 'Delivered'].groupby('order_date')['amount'].sum()
)
print(daily_revenue)

order_date
2024-01-01    2500
2024-01-02    7200
2024-01-03    2800
Name: amount, dtype: int64

In [29]:
total_orders = len(orders)
delivered = 0
cancelled = 0
total_revenue = 0

for order in orders:
    if order['status'] == 'Delivered':
        delivered += 1
        total_revenue += order['amount']
    elif order['status'] == 'Cancelled':
        cancelled += 1

avg_order_value = total_revenue / delivered
success_rate = (delivered / total_orders) * 100
cancellation_rate = (cancelled / total_orders) * 100

print("Total Revenue:", total_revenue)
print("Average Order Value:", avg_order_value)
print("Success Rate:", round(success_rate, 2), "%")
print("Cancellation Rate:", round(cancellation_rate, 2), "%")

Total Revenue: 12500
Average Order Value: 3125.0
Success Rate: 66.67 %
Cancellation Rate: 16.67 %

In [30]:
health_score = (delivered_revenue / total_orders) * (delivered / total_orders)

print("Business Health Score:", round(health_score, 2))

Business Health Score: 1388.89

In [49]:
customer_spend = ( df[df['status'] == 'Delivered'].groupby('customer_id')['amount'].sum()
.sort_values(ascending = False))
print(customer_spend)

customer_id
101    5700
103    4000
102    2800
Name: amount, dtype: int64

In [50]:
repeat_customers = (
    df[df["status"] == "Delivered"]
    .groupby("customer_id")
    .size()
    .reset_index(name="order_count")
)

repeat_customers = repeat_customers[repeat_customers["order_count"] > 1]
print(repeat_customers)

   customer_id  order_count
0          101            2

In [51]:
total_orders = len(df)
delivered_orders = len(delivered_df)
cancelled_orders = len(df[df["status"] == "Cancelled"])

avg_order_value = delivered_df["amount"].mean()
success_rate = (delivered_orders / total_orders) * 100
cancellation_rate = (cancelled_orders / total_orders) * 100

print(avg_order_value, success_rate, cancellation_rate)

3125.0 66.66666666666666 16.666666666666664